@media screen and (max-width: 719px) {
    body{
        background-image: url("../img/bg.jpg");
        width:100%;
        }

    h1{
        font-size: 3em;
        display:block;
        margin:auto;
        padding:20px;
        font-weight: bold;
        text-align: center;
    }

    #contact_form, #contact_choice{
        padding-left: 5%;
        padding-right: 5%;
    }

    #phone_input, #email_input, #contact_pref{
        padding: 5px 0;
        width: 100%;
    }

    form{
        width: 100%;
    }

    label{ 
        font-size:2.5em;
        display:block;
        width:100%;
        padding: 25px 0 0 0;
        font-weight: bold;
    }

    input{
        display:inline;
        font-size:2em;
        border:solid 1px #aacfe4;
    }

    input[type=radio] {
        height:50px;
        width:50px;
    }

    #choice1, #choice2, #choice3 {
        margin: 0px 0px 0px 10px;
    }

    #submit_button, #image_button{
        margin:auto;
        display:block;
        background-color:darkred;
        color:white;
        width:95%;
        font-size: 4.5em;
    }

    #text2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    img{
        width: 100%;
        height: auto;
        padding-top: 50px;
    }
}

@media screen and (min-width: 720px) {
    body{
        background-image: url("../img/bg.jpg");
    }

    h1{
        font-size: 4.5em;
        text-align: center;
        margin:auto;
        padding:20px;
        font-weight: bold;
    }

    #contact_form, #contact_choice{
        padding-left: 35%;
    }

    #phone_input, #email_input, #contact_pref{
        padding: 10px 0;
        width:500px;
    }

    label{ 
        font-size:3em;
        display:block;
        width:100%;
        padding-top:10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    input {
        font-size: 2.5em;
        margin: none;
        padding: none;
    }

    input[type=radio] {
        height:40px;
        width:40px;
    }

    #submit_button, #image_button{
        margin:auto;
        display:block;
        background-color:darkred;
        color:white;
        height:1.25em;
        width:600px;
        font-size: 3.5em;
    }

    img{
        display: block;
        margin: auto;
        padding-top: 20px;
    }
}