@media only screen and (max-device-width: 719px) {
    body{
        margin:20px 20px 20px 20px;
        background-image: url("../img/bg.jpg");
        width:1080px;
        }

    h1{
        font-size: 7.5em;
        display:block;
        margin:auto;
        width:1080px;
        padding:20px;
        font-weight: bold;
    }

    #contact_form, #contact_choice{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #phone_input, #email_input, #contact_pref{
        height: 4em;
        width: 100%;
    }

    form{
        width: 1080px;
    }

    label{ 
        font-size:5em;
        display:block;
        width:100%;
        padding: 50px 0 0 0;
        font-weight: bold;
    }

    input{
        display:inline;
        font-size:1.5em;
        border:solid 1px #aacfe4;
    }

    input[type=radio] {
        height:75px;
        width:75px;
    }

    #choice1, #choice2, #choice3 {
        margin: 0px 0px 0px 50px;
    }

    #submit_button, #image_button{
        margin:auto;
        display:block;
        background-color:darkred;
        color:white;
        height:175px;
        width:95%;
        font-size: 7.5em;
    }

    #text2 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    img{
        width: 100%;
        height: auto;
        padding-top: 50px;
    }
}

@media only screen and (min-device-width: 720px) {
    body{
        background-image: url("../img/bg.jpg");
    }

    h1{
        font-size: 4.5em;
        text-align: center;
        margin:auto;
        padding:20px;
        font-weight: bold;
    }

    #contact_form, #contact_choice{
        padding-left: 35%;
    }

    #phone_input, #email_input, #contact_pref{
        height: 3em;
        width:500px
    }

    label{ 
        font-size:3em;
        display:block;
        width:100%;
        padding-top:10px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    input[type=radio] {
        height:40px;
        width:40px;
    }

    #submit_button, #image_button{
        margin:auto;
        display:block;
        background-color:darkred;
        color:white;
        height:1.25em;
        width:600px;
        font-size: 3.5em;
    }

    img{
        display: block;
        margin: auto;
        padding-top: 20px;
    }
}