h1{
    font-size: 5em;
}

label{

}



@media screen and (min-width: 720px) {
    
    body{
    margin:20px 20px 20px 20px;
    background-color: #aacfe4;
    }

    h1{
        display:block;
        margin:auto;
        width:1080px;
        padding:20px;
    }

    form{
        width: 1080px;
        
    }

    #submit_button{
        margin:20px 20px 20px 20px;
        display:block;
        background-color:darkred;
        color: white;
        width:250px;
    }

    input{
        display:inline;
        font-size:1.5em;
        border:solid 1px #aacfe4;
    }
}