@media only screen and (min-device-width: 300px) {
    body{
        margin:20px 20px 20px 20px;
        background-color: #aacfe4;
        }

    h1{
        font-size: 7.5em;
        display:block;
        margin:auto;
        width:1080px;
        padding:20px;
    }

    #contact_form, #contact_choice{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #phone_input, #email_input, #contact_pref{
        height: 4em;
        width: 100%;
    }

    form{
        width: 1080px;
    }

    label{ 
        font-size:4em;
        display:block;
        width:100%;
        padding: 50px 0 0 0;
    }

    input{
        display:inline;
        font-size:1.5em;
        border:solid 1px #aacfe4;
    }

    input[type=radio] {
        height:40px;
        width:40px;
    }

    #choice1, #choice2, #choice3 {
        margin: 0px 0px 0px 50px;
    }

    #submit_button{
        margin:auto;
        display:block;
        background-color:darkred;
        color:white;
        height:1.25em;
        width:95%;
        font-size: 7.5em;
    }
}

@media only screen and (min-device-width: 720px) {
    body{
        background-color: red;
    }
}