@media screen and (min-width: 300px) {

    h1{
        font-size: 5em;
    }

    #contact_form{
        padding: 1.5em 2.5em;
    }

    #phone_input, #email_input{
        height: 4em;
        width: 100%;
    }

    label{ 
        font-size:4em;
        display:block;
        width:100%;
        padding: 50px 0 0 0;
    }
}

@media screen and (min-width: 720px) {
    
    body{
    margin:20px 20px 20px 20px;
    background-color: #aacfe4;
    }

    h1{
        display:block;
        margin:auto;
        width:1080px;
        padding:20px;
    }

    form{
        width: 1080px;
        
    }

    #submit_button{
        margin:20px 20px 20px 20px;
        display:block;
        background-color:darkred;
        color: white;
        width:250px;
    }

    input{
        display:inline;
        font-size:1.5em;
        border:solid 1px #aacfe4;
    }
}